name: Add PRs to project

on:
  schedule:
    - cron: "20 * * * *"
  workflow_dispatch:

permissions: {}

concurrency:
  group: shared

env:
  COMMON_FILTER: 'is:public is:open archived:false -label:"autorelease: pending" sort:created-asc'
  CONTENT_REPO_FILTER: (repo:mdn/content OR repo:mdn/django-diy-blog OR repo:mdn/django-locallibrary-tutorial OR repo:mdn/express-locallibrary-tutorial OR repo:mdn/todo-react OR repo:mdn/todo-vue OR repo:mdn/css-examples OR repo:mdn/dom-examples OR repo:mdn/houdini-examples OR repo:mdn/html-examples OR repo:mdn/imsc-examples OR repo:mdn/js-examples OR repo:mdn/learning-area OR repo:mdn/perf-examples OR repo:mdn/pwa-examples OR repo:mdn/web-components-examples OR repo:mdn/webassembly-examples OR repo:mdn/webaudio-examples OR repo:mdn/webvr-tests OR repo:mdn/beginner-html-site OR repo:mdn/beginner-html-site-scripted OR repo:mdn/beginner-html-site-styled OR repo:mdn/shared-assets)
  ENGINEERING_REPO_FILTER: (repo:mdn/bob OR repo:mdn/bcd-utils OR repo:mdn/differy OR repo:mdn/fred OR repo:mdn/mdn-http-observatory OR repo:mdn/mdn.dev OR repo:mdn/rari OR repo:mdn/rumba OR repo:mdn/yari OR repo:mdn/workflows)

jobs:
  add-prs-to-project:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: ".nvmrc"
          package-manager-cache: false

      - run: npm ci

      - name: BCD PRs
        run: |
          npm run manage-project-items
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          ISSUE_PROJECT_OWNER: mdn
          ISSUE_PROJECT_NUMBER: 46

      - name: Content PRs
        run: |
          npm run add-to-project
          npm run manage-project-items
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          ISSUE_PROJECT_OWNER: mdn
          ISSUE_PROJECT_NUMBER: 39
          ISSUE_PROJECT_QUERY: |
            org:mdn is:pr team-review-requested:mdn/content-team ${{ env.COMMON_FILTER }}
            org:mdn is:pr user-review-requested:bsmth ${{ env.COMMON_FILTER }}
            org:mdn is:pr user-review-requested:dipikabh ${{ env.COMMON_FILTER }}
            org:mdn is:pr user-review-requested:pepelsbey ${{ env.COMMON_FILTER }}
            org:mdn is:pr user-review-requested:pransh15 ${{ env.COMMON_FILTER }}
            org:mdn is:pr user-review-requested:Rumyra ${{ env.COMMON_FILTER }}
            is:pr review:none -author:app/dependabot ${{ env.COMMON_FILTER }} ${{ env.CONTENT_REPO_FILTER }}

      - name: Engineering PRs
        run: |
          npm run add-to-project
          npm run manage-project-items
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          ISSUE_PROJECT_OWNER: mdn
          ISSUE_PROJECT_NUMBER: 40
          ISSUE_PROJECT_QUERY: |
            org:mdn is:pr team-review-requested:mdn/engineering ${{ env.COMMON_FILTER }}
            org:mdn is:pr user-review-requested:caugner ${{ env.COMMON_FILTER }}
            org:mdn is:pr user-review-requested:LeoMcA ${{ env.COMMON_FILTER }}
            is:pr review:none -author:app/dependabot ${{ env.COMMON_FILTER }} ${{ env.ENGINEERING_REPO_FILTER }}

      - name: Ping
        env:
          ping_url: ${{ secrets.PING_URL_PRS }}
        if: ${{ env.ping_url != '' }}
        run: curl ${{ env.ping_url }}

      - name: Print rate limit
        run: gh api /rate_limit
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
